<div class="container">

  <% if @contact.errors.any? %>
    <div class="alert alert-danger">
      <strong>Please fix these issues with your contact:</strong>
      <ul>
        <% @contact.errors.full_messages.each do |contact| %>
          <li><%= contact %></li>
        <% end %>
      </p>
    </div>
  <% end %>

  <h1>Add a new contact</h1>

  <form method="post" action="/add_contact" id="new_contact">
    <div>
      <label>Name:</label>
      <input type="text" name="name" value="<%= @contact.name %>">
    </div>
    <div>
      <label>Email:</label>
      <input type="text" name="email" value="<%= @contact.email %>">
    </div>
    <div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>

  <h1>All contacts</h1>

  <table class="table text-center">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
    <% @contacts.each do |contact| %>
    <tr class="contact-row">
      <td class="name"><%= contact.name %></td>
      <td class="email"><a href="mailto:<%=contact.email%>"><%=contact.email%></a></td>
      <form method="post" action="/delete_contact?contact=<%=contact.id%>" class="delete_contact">
        <td>
          <button class="edit">Edit</button>
        </td>
        <td>
          <input type="submit" class="btn btn-primary" value="Delete">
        </td>
      </form>
    </tr>
    <% end %>
  </table>
</div>